@media only screen and(min-width:376px){
    .container{
        max-width: 900px;
    }
}
@media only screen and (min-width:901px){
    .container{
        max-width: 100%;
        width: 100%;
        padding: 30px 100px;
        .uppermedia{
            .uppermedia-header{
                display: flex;
                justify-content: space-between;
                &-left{
                    border-bottom: 0;
                }
            }
            &-body{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-gap: 0px 10px;
            }
        }
        .lowermedia{
            &-body{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-gap: 0 10px;
            }
        }
    }
}